<label>Name</label>
<input type="text" name="name" value="<%= processor.name %>">
<label>Processor Brand</label>
<select name="brand">
  <option value="<%= processor.brand %>">AMD</option>
  <option value="<%= processor.brand %>">Intel</option>
</select>
